    <!-- LEFT SIDEBAR -->
    <aside class="sidebar">
      <nav>
        <h3>Year 1</h3>
        <ul>
          <li><a href="#">Semester 1</a></li>
          <li><a href="#">Semester 2</a></li>
        </ul>

        <h3>Year 2</h3>
        <ul>
          <li><a href="#">Semester 3</a></li>
          <li><a href="#">Semester 4</a></li>
        </ul>

        <h3>Core Subjects</h3>
        <ul>
          <li><a href="#">Data Structures</a></li>
          <li><a href="#">Operating Systems</a></li>
          <li><a href="#">DBMS</a></li>
          <li><a href="#">Computer Networks</a></li>
        </ul>

        <h3>Electives</h3>
        <ul>
          <li><a href="#">AI</a></li>
          <li><a href="#">ML</a></li>
          <li><a href="#">Cloud Computing</a></li>
        </ul>
      </nav>
    </aside>